/include/ext/rapid-in/nbproject/private/
*.orig
*~
*.patch
*.diff
db/
html/tmp
attic/*
include/ext/amortis/*
include/ext/import_account/*
include/ext/rapport_avance/*
include/ext/invoicing/*
include/ext/import-advanced/*
include/ext/syndicat-adherent/*
include/ext/webservice/*
include/ext/noalyss_document/*
include/ext/dossier_demo/*
include/ext/profile_mgt/*
include/ext/doc/*
include/ext/listing/*
include/ext/syndicat/*
include/ext/syndicat-tools/*
include/ext/tool_pcmn/*
include/ext/noalyss-timesheet/*
include/ext/import_doli/*
include/ext/transform/*
include/ext/nbproject/*
include/ext/backup_noadmin/*
include/ext/modop/*
include/ext/noalyss-portal-client/*
include/ext/tva/*
include/ext/sav/*
include/ext/coprop/*
include/ext/noalyss-export/*
include/ext/plugin-portal-client/*
include/ext/import_card/*
include/ext/skel/*
include/ext/syndicat-direct-debit/*
include/ext/etat_annexe_ohada/*
include/ext/bilan_interne/*
include/ext/importbank/*
include/ext/coprop-fake/*
include/ext/tools/*
include/ext/etat_annexe_ohada/*
local/*
/include/ext/noalyss_document/.idea/
.idea/*
